body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 2/1;
  justify-content: center;
  background: url("WP.png");
  background-size: cover;
  overflow: hidden;
}
.H2 {
  margin: 2%;
  padding: 2%;
  border-radius: 100%;
  background: rgba(114, 21, 235, 0.509);
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  color: rgb(209, 229, 247);
}
.clock {
  display: flex;
}
.clock div {
  margin: 5px;
  position: relative;
}
.clock span {
  width: 100px;
  height: 80px;
  background: slateblue;
  opacity: 0.8;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}
.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(15, 15, 114);
  opacity: 0.8;
}
.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: green;
}
